//COLORS
$color-white: #ffffff;
$colorBlack: #000000;
$colorDarkGrey: #7e7e7e;
$colorLightGrey: #a0a0a0;


//FONTS
$body-fonts: 'Neucha', sans-serif; //change this to change the body font
$heading-fonts: sans-serif; //change this to change the heading font

$siteWidth: 98rem;


