.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    &__logo {
        margin-right: auto;
    }

    &__addButton {
        font-size: 4rem;
        cursor: pointer;
    }

    &__delButton {
        font-size: 4rem;
        margin-left: 1rem;
        cursor: pointer;
    }

    &__delSel {
        font-size: 2rem;
        margin-left: 1rem;
        cursor: pointer;
        display: none;
        color: red;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}